.option-parsing-error {
    margin: 1rem;
    padding:  0.5rem;
    background-color: #FFFF00;
    border: solid thin red;
    font-size: 125%;
}

div.warning-container {
    margin: 1rem;
    background-color: yellow;
    padding: 1rem;
    border-radius: 4px;
}

div.warning-title {
    font-size: 150%;
    font-weight: bold;
}